var touchStartX

function handleTouchstart(event) {
    //  数据绑定，记录触摸开始的X 轴的位置
    touchStartX = event.changedTouches[0].clientX
}

function handleTouchend(event, ownerInstance) {
    var touchEndX = event.changedTouches[0].clientX
    // 负数代表手指向左滑动了。正数代表手指向右滑动了
    var distance = touchEndX - touchStartX;
    //  -1：后退（向右滑动)；0：不动；1：前进（向左滑动)
    var direction = 0
    // 向左滑动，前进
    if (distance < 0 && distance < -70) {
        direction = 1
    }

    // 向右滑动，后退
    if (distance > 0 && distance > 70) {
        direction = -1
    }

    if (direction !== 0) {
        //    1.触发事件 2. 直接调用引用该 WXS 的页面或者组件的方法。
        ownerInstance.callMethod('handleTouchMove', { direction: direction })
    }
}

module.exports = {
    handleTouchstart: handleTouchstart,
    handleTouchend: handleTouchend
}